* {
  margin: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#edeef0), to(#c0c3c6));
  background: linear-gradient(#edeef0, #c0c3c6);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

.calculator {
  width: 270px;
  height: 515px;
  border-radius: 20px;
  color: #ffff;
  background: #355259;
  background: linear-gradient(-30deg, #355259 10%, #5c818c 45%, #96a9b3 100%);
  -webkit-box-shadow: 0px 5px 20px rgba(53, 82, 89, 0.7);
  box-shadow: 0px 5px 20px rgba(53, 82, 89, 0.7);
  -webkit-transition: 1s;
  transition: 1s;
}

.calculator-light {
  background: linear-gradient(-30deg, #e7edf0 25%, white 100%);
  color: #355259;
  -webkit-transition: 1s;
  transition: 1s;
}

.top-bar {
  width: 100%;
  height: 50px;
  /*  border: red solid 1px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mode-dark {
  width: 65px;
  height: 30px;
  border-radius: 12px;
  margin-left: 1.3rem;
  -webkit-box-shadow: inset 3px 3px 8px rgba(53, 82, 89, 0.4);
  box-shadow: inset 3px 3px 8px rgba(53, 82, 89, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  overflow: hidden;
  /* border: red solid 1px; */
}

.mode-dark__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  /* border: red solid 1px; */
}

.mode-dark__img {
  width: 15px;
  height: 15px;
  z-index: 1;
}

.active-dark {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  padding: 0.02rem;
  position: absolute;
  border-radius: 7px;
  background: #edeef0;
  -webkit-box-shadow: 3px 2px 5px rgba(53, 82, 89, 0.5);
  box-shadow: 3px 2px 5px rgba(53, 82, 89, 0.5);
  -webkit-transform: translate(80%);
  transform: translate(80%);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.light {
  -webkit-transform: translate(-80%);
  transform: translate(-80%);
  background: #355259;
}

.buttom-lite {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  margin-right: 1.3rem;
  -webkit-box-shadow: 3px 2px 10px #355259;
  box-shadow: 3px 2px 10px #355259;
  cursor: pointer;
  /* border: greenyellow solid 1px; */
}

.buttom-lite__img {
  width: 15px;
  height: 15px;
  background: url("../icon/reloj.svg");
  /* border: greenyellow solid 1px; */
}

.light-lite {
  background: url("../icon/reloj2.svg");
}

.screen {
  /* border: red solid 1px; */
  width: 100%;
  height: 180px;
  margin: 1.3rem 0;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.screen__top {
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* border: blue solid 1px; */
  font-size: 3rem;
  padding: 0.3rem 1.3rem;
  letter-spacing: -2px;
  overflow: hidden;
}

.screen__content {
  /* border: yellow solid 1px; */
  padding: 0.3rem 1.3rem;
  font-size: 1.7rem;
  font-weight: 300;
  overflow: hidden;
}

.swicht {
  /* border: red solid 1px; */
  margin: 0 auto;
  width: 60%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0.6rem;
  border-radius: 12px 0 12px 0;
  -webkit-box-shadow: inset 2px 2px 8px rgba(53, 82, 89, 0.4), inset -4px -3px 5px rgba(237, 238, 240, 0.2);
  box-shadow: inset 2px 2px 8px rgba(53, 82, 89, 0.4), inset -4px -3px 5px rgba(237, 238, 240, 0.2);
  font-size: 0.8rem;
  font-weight: bold;
  overflow: hidden;
}

.swicht__content {
  /* border: red solid 1px; */
  color: rgba(255, 255, 255, 0.5);
  padding: 4px 15px;
  z-index: 1;
}

.swicht__box {
  width: 65px;
  height: 22.5px;
  position: absolute;
  background: #edeef0;
  border-radius: 7px;
  color: rgba(53, 82, 89, 0.5);
  -webkit-box-shadow: 6px 1px 5px rgba(53, 82, 89, 0.5);
  box-shadow: 6px 1px 5px rgba(53, 82, 89, 0.5);
}

.swicht__box--show {
  background: #688891;
}

.swicht--show {
  -webkit-transform: translateX(140%);
  transform: translateX(140%);
}

.swicht-basic {
  color: rgba(53, 82, 89, 0.5);
}

.txt-light {
  color: rgba(255, 255, 255, 0.5);
}

.txt-dark {
  color: rgba(53, 82, 89, 0.5);
}

.buttons {
  /* border: red solid 1px; */
  /* width: 100%; */
  padding: 1.3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 35px);
  grid-gap: 10px;
  font-size: 1.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button {
  /* border: yellow solid 1px; */
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #688891;
  -webkit-box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.button--color {
  background: #edeef0;
  color: #355259;
}

.button:last-child {
  grid-column: 4/6;
}

.button:active {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transform: scale(0.94);
  transform: scale(0.94);
  -webkit-box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
}

.buttonLight {
  background: #edeef0;
  -webkit-transition: 1s;
  transition: 1s;
}

.btn-back {
  width: 23px;
  height: 23px;
  background: url("../icon/retroceso.svg");
}

.btn-back__light {
  background: url("../icon/retroceso2.svg");
}
